.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .modal-loader {
    margin: 48px 12px 12px 12px;
    display: flex;
    justify-content: center;

    .icon-container {
      width: 136px;

      .success-icon {
        width: 99%;
        height: 91%;
        color: #27a744;
      }

      .fail-icon {
        width: 99%;
        height: 91%;
        color: #db3445;
      }
    }
  }
  .modal-title {
    font-size: 36px;
    font-weight: 800;
    margin: 18px 0px;
    text-align: center;
  }

  .success {
    color: #27a744;
  }

  .fail {
    color: #db3445;
  }

  .modal-message {
    padding: 0px 24px;
    text-align: center;
    font-size: 18px;
  }
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  padding: 5px 10px;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
}
