@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Roboto:100,200,300,400,500,600");

:root {
  --headlinesFont: "Josefin Sans", sans-serif;
  --bodyFont: "Roboto", sans-serif;
  --wildWatermelon: #ff4f87;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #c7c7c7;
  --white: #fff;
  --black: #000;
  --themeColor: #3271ee;
  --labelColor: #737373;
}

.App {
  background: var(--white);
  font-family: var(--bodyFont);
  color: var(--textColor);
  line-height: 1.5;
  height: 100vh;
}
